@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
}

/*For dropdown menu*/
.visible {
  display: block;
}

.hidden {
  display: none;
}

.block {
  opacity: 1;
}